.article-heading>h1{
    text-align: center;
    padding-top: 4rem;
}

.img-cont{
    width: 50%;
    justify-content: center;
}

.carousel-container{
    padding-top: 2rem;
    text-align: center;
    padding: 2rem;
}

.img-carousel{
    padding: 0 2rem 2rem 0;
}

.carousel-container>div{
    padding: 2rem;
}

Slider>div{
    padding: 2rem;
}

.diagonal2{
    background-image: linear-gradient(45deg, #03bb40, #dfee5a);
    transform: skewY(-8deg);
    position: relative;
    border-bottom: 2rem ;
    margin-top: 9rem;
    width: 100%;
    height: 50vh;
    z-index: 10;
    position: relative;
}


@media (max-width:760px){

    .img-carousel{
        width: 100%;
        height: 100%;
    }

    .img-carousel>img{
        width: 100%;
        height: 100%;
    }

    .article-heading>h1{
        text-align: center;
        padding-top: 3rem;
    }

    h3 {
        font-size: 1.3rem;
    }
}