.diagonal{
    background-image: linear-gradient(45deg, #6303B1, #ff0099);
    height: auto;
    transform: skewY(-10deg);
    position: relative;
    z-index: -10;
    margin-top: -7rem;
    margin-bottom: 10rem;
    outline: none;
    overflow: hidden
    ;
}

.diagonal:before {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-image: linear-gradient(45deg, #654ea3, #eaafc8); 	
    transform: skewY(-11deg);
}

.img-container{
    border-bottom: 17px solid rgb(213,0,45);
    width: 100vw;
    overflow: hidden;
}